<%= form_for @question do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :body, placeholder: "Enter question", class: "form-control width-80" %>
    <%= f.select :category_id, Category.all.collect { |c| [c.name, c.id] }, {}, {class: "form-control width-80"} %>
  </div>
  
  <div class="actions">
    <%= f.submit nil, class: "btn btn-default width-80" %>
  </div>
<% end %>
