<br>
<%= link_to 'New Question', new_question_path, class: "btn btn-success" if current_user.admin? %>

<table class="table">

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <% if category.questions.present? %>
          <td style="font-weight: bold">Category: <%= category.name %></td>
        <% end %>
      </tr>  
    
      <% category.questions.each do |question| %>
    
        <tr>
          <td><%= question.body %></td>
          <% if current_user.admin? %>
            <td><%= link_to 'Edit', edit_question_path(question) %></td>
            <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

