<p id="notice"><%= notice %></p>

<% unless current_user.active? %>
  <h2>Please wait for activation!</h2>
<% end %>

<% if current_user.active? %>
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= @user.role %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= @user.active %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @user.status %>
  </p>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
<% end %>